cf-username: <pws-username>
cf-password: <pws-password>
cf-organization: <pws-org-name>
cf-space-stage: <pws-stage-space-name-staging>
cf-space-prod: <pws-stage-space-name-production>
cf-api: <pws-api-url>
S3-ACCESS-KEY: <S3-ACCESS-KEY>
S3-SECRET: <S3-SECRET>
